.toggle{
    border: 1px solid white;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}



.fahrenheit,
.celcius {
    padding:  6px 10px 6px 10px;
    cursor: pointer;
}

.fahrenheit:hover,
.celcius:hover {
    background-color: #414856;
    border-radius: 10px;
}

.fahrenheit[unit="fahrenheit"],
.celcius[unit="celcius"] {
    background-color: #414856;
    border-radius: 10px;
}
